:root {
  --primary: #FF9A17;

  --light-green: #c8fcc2;
  --accent-green: #8ce38a;
  --light-grey: lightgray;
  --blue-grey: #91a6d9;
  --orange: #ff9999;
  --white: #fff;
  --black: #333;
  --yellow: #ffc600;

  --bright-blue-1: dodgerblue;
  --bright-blue-2: cornflowerblue;
  --cream: #f1f1f1;
  --grey-1: grey;
  --grey-2: #eaeaea;
  --grey-green: #676;
  --functional-green: #63e660;
  --functional-red: #e3815b;
  --functional-blue: #577fde;
  --danger: #ff1111;
  --bg-white: #f8fcf7;
}

/* clean padding, margin, define box-sizing */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* general style, colours and  helper classes */
html {
  font-family: apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

body {
  background: var(--bg-white);
}

h2,
h3 {
  margin-bottom: 1rem;
}
a {
  text-decoration: none;
}
a,
a:hover,
a:active {
  color: inherit;
}

ul {
  list-style: none;
}

.btn {
  border: 1px solid transparent;
  border-radius: 4px;
  color: white;
  padding: 1rem 2rem;
  cursor: pointer;
  transition: all 0.2s ease;
  box-shadow: 1px 0px 2px 0px rgba(0, 0, 0, 0.3);
}

.btn-sm {
  padding: 0.5rem 1rem;
}

.green {
  background: var(--functional-green);
}

.blue {
  background: var(--functional-blue);
}

.red {
  background: var(--functional-red);
}

.danger {
  background: var(--danger);
}

.bg-caution {
  background: var(--yellow);
}

.bg-danger {
  background: var(--danger);
}

.title-center {
  text-align: center;
}

.mb-medium {
  margin-bottom: 2rem;
}

.in-block {
  display: inline-block;
}

.flex-end {
  justify-content: flex-end !important;
}

.user-greeting {
  font-weight: 400;
  font-size: 2rem;
  text-transform: capitalize;
}

/* header */

.logo-container  {
  width: 100px ;
  display: flex;
}

.logo-container img {
  width: 100px;
  transition: all 0.3s ease-in-out;
  align-self: center;
}

.logo-container img:hover {
  animation-name: shake;
  animation-duration: 0.4s;
  animation-fill-mode: forwards;
}
@keyframes shake {
  0% {
    transform: scale(0.9) translateX(3px);
  }
  50% {
    transform: scale(1.05) translateX(-3px);
  }
  100% {
    transform: scale(1.01) translateX(0px);
  }
}

.main-header {
  height: 10vh;
  display: flex;
  width: 100vw;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 4rem;
  border-bottom: 1px solid lightgray;
  background: var(--white);
  /* overflow: hidden; */
}


.input-container {
  width: 100%;
  display: flex;
  align-items: stretch;
}


/* navbar search */

.search-form {
  min-width: 60vw;
  margin: 0 1rem;
  /* background: red; */
}
.search-input-container {
  display: flex;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-right: 1px solid transparent;
  border-radius: 6px;
  box-sizing: content-box;
  min-width: 50%;
}

.search-input {
  border: none;
  border-right: 1px solid grey;
  height: 2.5rem;
  padding: 0 0.5rem;
  flex: 1 1 55%;
  padding: 0 10px;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

.select-label {
  /* background: blue; */
  display: block;
  flex: 0  0 auto ;
  align-self: center;
  display: block;
  padding-left: 10px;
  margin-right: 0;
  padding-right: 0;
}

.search-filters-select {
  margin-left: 0;
  background: transparent;
  border: 1px solid transparent;
  width: 15%;
  text-align: center;
  padding-left: 0;
}


.search-btn {
  box-sizing: content-box;
  background: var(--bright-blue-2);
  min-width: 10%;
  border: 1px solid transparent;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  color: var(--white);
  padding: 0 10px;
  transition: all 0.2s ease;
}

.search-btn:hover {
  cursor: pointer;
  background: var(--bright-blue-1);
}

.profile-img {
  width: 30px;
  display: block;
  margin: 0 auto;
}

/* categories hidden list */
.list-content {
  display: none;
  position: absolute;
  background-color: var(--cream);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.top-nav {
  position: relative;
  display: inline-block;
}

.list-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.list-content a:hover {
  background-color: #ddd;
}

.top-nav:hover .list-content {
  display: block;
}

/* main */
.main-content {
  display: flex;
  flex-direction: column;
  min-height: 80vh;
}

/* multislider */
.slider {
  position: relative;
  /* recommended */
}

.slider .MS-content {
  white-space: nowrap;
  /* required */
  overflow: hidden;
  /* required */
  margin: 0 5%;
  /* makes room for L/R arrows */
}

.slider .MS-content .item {
  display: inline-block;
  /* required */
  width: 20%;
  /* required * Determines number of visible slides */
  position: relative;
  /* required */
  vertical-align: top;
  /* required */
  overflow: hidden;
  /* required */
  height: 100%;
  /* recommended */
  white-space: normal;
  /* recommended */
}

.slider .MS-controls button {
  position: absolute;
  /* recommended */
  top: 35px;
}

.slider .MS-controls .MS-left {
  left: 10px;
  top: 50%;
}

.slider .MS-controls .MS-right {
  right: 10px;
  top: 50%;
}


/* footer */
footer {
  height: 10vh;
  text-align: center;
  border-top: 1px solid var(--grey-2);
  padding: 1rem;
  background: var(--grey-green);
  color: var(--white);
}
